# dependencies
node_modules

# Next.js
.next
out

# production
dist
build

# local env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode

# Secrets & credentials
*.key
*-firebase-adminsdk-*.json

# Runtime logs
*.pid
*.log
*.err.log
